*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 150vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 6%;
    position: relative;
}
.content {
    top: 50%;
    position: sticky;
    transform: translateY(-50%);
    color: #fff;
}
.content h1 {
    font-size: 64px;
}
.content h1 span {
    color: rgb(240, 193, 75);
}
.content a {
    background: transparent;
    border: 2px solid #fff;
    color: white;
    padding: 12px 25px;
    display: inline-flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}
.content a:hover {
    background-color:rgb(109, 82, 12);
}
.content a img {
    width: 15px;
    margin-left: 10px;
    background: transparent;

}
.launch-time {
    display: flex;
}
.launch-time div {
    flex-basis: 100px;
}
.launch-time div p {
    font-size: 60px;
    margin-bottom: -14;
}
.rocket {
    width: 70px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0% {
        bottom: 0;
        opacity: 0;
    }
    100% {
        bottom: 105%;
        opacity: 1;
    }
}



